*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: rgb(24, 23, 23);
    padding-top: 1%;
}
.container{
    height: max-content;
    width: 100%;
    border: solid 2px rgb(190, 207, 30);
}
.item{
    width: 100%;
    background-color: aqua;
    font-size: 40px;
    border: solid 2px grey;
}