*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: white;
    padding-top: 1%;
    text-align: center;
}
.container{
    height: max-content;
    width: max-content;
    border: solid 2px rgb(190, 207, 30);
}
.container>div{
    background-color: aqua;
    padding: 30px;
}
.container>div:nth-child(even){
    background-color: gray;
    padding: 30px;
}